@import './responsive';

body{
    background-image: url(/public/img/forest.jpg);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    overflow:hidden;
    margin:0;
    @include desktop{
        margin: 25px 0;
    }

}