@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
/* colors */
.pokedex {
  background-color: rgb(255, 27, 27);
  border-radius: 10px;
}
@media screen and (min-width: 710px) {
  .pokedex {
    width: 700px;
    margin: 0 auto;
  }
}
.pokedex .pokedex-header {
  padding-top: 5px;
}
.pokedex .pokedex-header .header-top {
  display: flex;
  align-items: left;
  justify-content: left;
}
.pokedex .pokedex-header .header-top .big-light {
  box-shadow: 0 0 20px 4px rgb(64, 111, 243);
  display: inline-block;
  margin: 2px 10px;
  height: 30px;
  width: 30px;
  background-color: rgb(64, 111, 243);
  border: 3px solid rgba(255, 255, 255, 0.8);
  border-radius: 100%;
  position: relative;
}
.pokedex .pokedex-header .header-top .big-light:after {
  background-color: rgb(255, 255, 255);
  position: absolute;
  right: 14px;
  border-radius: 100%;
  top: 4px;
  z-index: 1;
  content: "";
  height: 10px;
  width: 10px;
}
.pokedex .pokedex-header .header-top .group-lights {
  margin: 2px 10px;
  display: inline-block;
}
.pokedex .pokedex-header .header-top .group-lights .red-light, .pokedex .pokedex-header .header-top .group-lights .yellow-light, .pokedex .pokedex-header .header-top .group-lights .green-light {
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.8);
  height: 10px;
  width: 10px;
  border-radius: 100%;
  margin: 0 2px;
}
.pokedex .pokedex-header .header-top .group-lights .red-light {
  box-shadow: 0 0 20px 4px rgb(255, 110, 110);
  background-color: rgb(255, 110, 110);
}
.pokedex .pokedex-header .header-top .group-lights .yellow-light {
  box-shadow: 0 0 20px 4px rgb(255, 235, 90);
  background-color: rgb(255, 235, 90);
}
.pokedex .pokedex-header .header-top .group-lights .green-light {
  box-shadow: 0 0 20px 4px rgb(104, 247, 78);
  background-color: rgb(104, 247, 78);
}
.pokedex .pokedex-header .header-bottom {
  background-color: rgb(226, 0, 0);
  height: 20px;
  display: flex;
}
.pokedex .pokedex-header .header-bottom .header-bottom-left {
  flex: 1;
  background-color: rgb(255, 27, 27);
}
.pokedex .pokedex-header .header-bottom .header-bottom-center {
  flex: 0;
  width: 0;
  height: 0;
  border-top: 20px solid rgb(255, 27, 27);
  border-right: 149px solid transparent;
}
.pokedex .pokedex-header .header-bottom .header-bottom-right {
  flex: 1;
  background-color: rgb(226, 0, 0);
}
.pokedex .pokedex-body {
  background-color: rgb(226, 0, 0);
  padding: 10px 0px;
  height: calc(100vh - 140px);
}
.pokedex .pokedex-body .buttons-zone, .pokedex .pokedex-body .top-btns {
  display: flex;
}
.pokedex .pokedex-body .main-btns {
  display: flex;
  flex: 2;
}
.pokedex .pokedex-body .middle-btns {
  flex: 5;
  text-align: center;
}
.pokedex .pokedex-body .middle-btns .btn-berries button {
  background-color: rgb(0, 152, 225);
  border-color: rgba(0, 87, 129, 0.58);
  border-radius: 15px;
}
.pokedex .pokedex-body .middle-btns .btn-pokemon button {
  background-color: rgb(253, 38, 38);
  border-color: rgba(189, 0, 0, 0.58);
  border-radius: 15px;
}
.pokedex .pokedex-body .middle-btns .btn-pokemon, .pokedex .pokedex-body .middle-btns .btn-berries {
  flex: 1;
}
.pokedex .pokedex-body .middle-btns .btn-pokemon button, .pokedex .pokedex-body .middle-btns .btn-berries button {
  width: 50%;
  cursor: pointer;
}
.pokedex .pokedex-body .middle-btns .btn-pokemon p, .pokedex .pokedex-body .middle-btns .btn-berries p {
  font-family: "VT323", monospace;
  margin: 0;
}
.pokedex .pokedex-body .right-btns, .pokedex .pokedex-body .turn-btn {
  flex: 1;
}
.pokedex .pokedex-body .turn-btn {
  text-align: center;
  position: relative;
}
.pokedex .pokedex-body .turn-btn button {
  background-color: rgb(0, 0, 0);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.pokedex .pokedex-body .turn-btn button .power-off {
  color: rgba(255, 255, 255, 0.8);
}
.pokedex .pokedex-body .mini-screen div {
  background-color: #00c30f;
  border-radius: 5px;
  margin: 30px auto;
  width: 75%;
}
.pokedex .pokedex-body .mini-screen .blink {
  animation: blinker 1s linear infinite;
  font-family: "VT323", monospace;
  padding: 15px 0px;
  margin: 0px 10px;
}
.pokedex .pokedex-body .mini-screen .ink-text {
  margin: 0;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.pokedex .pokedex-body .right-btns {
  position: relative;
}
.pokedex .pokedex-body .crosspiece {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.pokedex .pokedex-body .crosspiece .cross-up button, .pokedex .pokedex-body .crosspiece .cross-down button, .pokedex .pokedex-body .crosspiece .cross-center button {
  background-color: rgb(0, 0, 0);
}
.pokedex .pokedex-body .crosspiece .cross-up button {
  border-bottom: rgb(0, 0, 0);
}
.pokedex .pokedex-body .crosspiece .cross-down button {
  border-top: rgb(0, 0, 0);
}
.pokedex .pokedex-body .crosspiece .cross-center button:nth-child(2) {
  border-left: rgb(0, 0, 0);
}
.pokedex .pokedex-body .crosspiece .cross-up, .pokedex .pokedex-body .crosspiece .cross-down {
  text-align: center;
}
.pokedex .pokedex-body .crosspiece .cross-center {
  background-color: rgb(0, 0, 0);
}
.pokedex .pokedex-body .crosspiece .cross-center button:first-child {
  margin-right: 25px;
}
.pokedex .pokedex-body .crosspiece .arrow {
  color: rgba(255, 255, 255, 0.8);
}
.pokedex .pokedex-footer {
  height: 10px;
  border-radius: 0 0 10px 10px;
  background-color: rgb(255, 27, 27);
}/*# sourceMappingURL=pokedex.css.map */