/* colors */
$pokedex_color:rgb(255, 27, 27);
$pokedex_content_color:rgb(226, 0, 0);

$lights_blue:rgb(64 111 243);
$lights_lighted_white:rgb(255 255 255 / 80%);;
$lights_red:rgb(255 110 110);
$lights_yellow:rgb(255 235 90);
$lights_green:rgb(104 247 78);
$lights_dark_red: rgb(129, 0, 0);

$screen_frame: rgb(243 240 219);

$buttons_pokedex: rgb(253 38 38);
$buttons_pokedex_shadow:rgb(189 0 0 / 58%);
$buttons_berrydex:rgb(0 152 225);
$buttons_berrydex_shadow:rgb(0 87 129 / 58%);

$back_lcd: rgb(96, 223, 255);

$white:rgb(255, 255, 255);
$black:rgb(0, 0, 0);